.accordion_title {
	position: relative;
}

.accordion-content {
	display: none;
	padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 768px) {
	.accordion-content {
		padding: 10px 8px 10px 8px;
	}
}


.accordion-content.open {
	display: block;
}

/* 矢印 */
.accordion_title::before {
	content: "";
	position: absolute;
	left: 57%;
	top: 27%;
	transition: all 0.5s;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	width: 1em;
	height: 1em;
	border: 0.1em solid currentColor;
	border-left: 0;
	border-bottom: 0;
	box-sizing: border-box;
	transform: translateY(25%) rotate(-45deg);
}

.accordion_title.open::before {
	transform: translateY(-25%) rotate(135deg);
}