@charset "UTF-8";
/*--------------------------------
基本設定
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
/*--------------------------------
コースページ
---------------------------------*/
.ds__course__top {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 380px;
  background: url("../img/ds_about01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .ds__course__top {
    height: 280px;
  }
}
.ds__course__top::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
}
.ds__course__top__title {
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 3.8rem;
  font-weight: bold;
  color: #957365;
  line-height: 1.8rem;
}
@media screen and (max-width: 500px) {
  .ds__course__top__title {
    font-size: 2.8rem;
    line-height: 1.2rem;
  }
}
.ds__course__top__title--sub {
  font-size: 0.8rem;
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  .ds__course__top__title--sub {
    font-size: 0.6rem;
  }
}

article {
  background: rgba(125, 155, 129, 0.4);
}

.ds__course__section {
  padding: 128px 0 80px 0;
}

.ds__course__detail {
  background: #fff;
  padding: 44px 40px;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .ds__course__detail {
    margin-bottom: 32px;
    padding: 44px 8px;
    margin: 0 8px;
  }
}
.ds__course__detail__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ds__course__detail__flex img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__flex img {
    width: 100%;
  }
}
.ds__course__detail__text {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__text {
    width: 100%;
    margin-top: 24px;
  }
}
.ds__course__detail__title {
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__title {
    margin-bottom: 18px;
  }
}
.ds__course__detail__title span {
  background: #A4907C;
  padding: 8px 24px;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}
.ds__course__detail__cc {
  margin-bottom: 36px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__cc {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 500px) {
  .ds__course__detail__cc {
    font-size: 1.2rem;
    margin-bottom: 18px;
  }
}
.ds__course__detail__txt {
  font-size: 0.8rem;
  margin-bottom: 20px;
  line-height: 2rem;
}
.ds__course__detail__content {
  border: 1px solid #A4907C;
  padding: 14px 18px;
}
.ds__course__detail__content__title {
  position: relative;
  color: #A4907C;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.ds__course__detail__content__title ::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: #A4907C;
  opacity: 0.6;
}
.ds__course__detail__content__txt li {
  display: block;
  position: relative;
  padding-left: 1.5em;
}
.ds__course__detail__content__txt li span {
  position: absolute;
  top: 0;
  left: 0;
}
.ds__course__detail__content__txt a {
  text-decoration: underline;
}
.ds__course__detail__content__txt a:hover {
  opacity: 0.6;
}
.ds__course__detail__tax {
  margin: 24px 0;
  padding: 12px 24px;
  border: 2px solid #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax {
    padding: 6px 4px;
  }
}
.ds__course__detail__tax__title {
  text-align: center;
  font-size: 1.4rem;
  color: #A4907C;
}
.ds__course__detail__tax__price {
  margin-top: 16px;
  color: #A4907C;
}
.ds__course__detail__tax__price dl {
  padding: 16px 12px;
  border-bottom: 1px dotted #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dl {
    margin-bottom: 12px;
    border-bottom: none;
  }
}
.ds__course__detail__tax__price dl:first-child {
  border-top: 1px dotted #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dl:first-child {
    border-top: none;
  }
}
.ds__course__detail__tax__price dt {
  width: 240px;
  font-weight: bold;
  font-size: 1.2rem;
  float: left;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dt {
    font-size: 1rem;
    background-color: #A4907C;
    color: #fff;
    padding: 4px 10px;
    margin: 0 -10px 6px;
    width: auto;
    float: none;
  }
}
.ds__course__detail__tax dd {
  margin-left: 240px;
  line-height: 2rem;
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax dd {
    margin-left: 0;
  }
}