@charset "UTF-8";
/*--------------------------------
基本設定
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
/*--------------------------------
コースページ
---------------------------------*/
.ds__course__top {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 280px;
  background: url("../img/ds_about01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .ds__course__top {
    height: 180px;
  }
}
.ds__course__top::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
}
.ds__course__top__title {
  position: absolute;
  z-index: 3;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: #957365;
  line-height: 1.8rem;
}
@media screen and (max-width: 500px) {
  .ds__course__top__title {
    top: 70%;
    font-size: 2.2rem;
    line-height: 1.2rem;
  }
}
.ds__course__top__title--sub {
  font-size: 0.8rem;
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  .ds__course__top__title--sub {
    font-size: 0.6rem;
  }
}

.ds__course__article {
  background: rgba(125, 155, 129, 0.4);
}

.ds__course__section {
  padding: 128px 0 80px 0;
}
.ds__course__section._pt-0 {
  padding-top: 0;
}
.ds__course__section._pb-128 {
  padding-bottom: 200px;
}

.ds__option__section {
  padding: 128px 0 80px 0;
}
.ds__option__section._pt-0 {
  padding-top: 0;
}
.ds__option__section._pb-128 {
  padding-bottom: 200px;
}

.ds__page__section {
  padding: 64px 0 80px 0;
}
@media screen and (max-width: 550px) {
  .ds__page__section {
    padding: 16px 0 20px 0;
  }
}

.ds__course__detail {
  background: #fff;
  padding: 44px 40px;
  margin-bottom: 64px;
}
@media screen and (max-width: 1200px) {
  .ds__course__detail {
    margin: 0 24px 64px;
  }
}
@media screen and (max-width: 768px) {
  .ds__course__detail {
    padding: 44px 8px;
    margin: 0 8px 32px;
  }
}
.ds__course__detail__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ds__course__detail__img {
  width: 52%;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__img {
    width: 100%;
  }
}
.ds__course__detail__text {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__text {
    width: 100%;
    margin-top: 32px;
  }
}
.ds__course__detail__title {
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__title {
    margin-bottom: 24px;
  }
}
.ds__course__detail__title span {
  background: #A4907C;
  padding: 4px 16px;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}
.ds__course__detail__cc {
  margin-bottom: 36px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__cc {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 500px) {
  .ds__course__detail__cc {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }
}
.ds__course__detail__txt {
  font-size: 0.8rem;
  margin-bottom: 20px;
  line-height: 2rem;
}
@media screen and (max-width: 500px) {
  .ds__course__detail__txt {
    margin-bottom: 44px;
  }
}
.ds__course__detail__content {
  border: 1px solid #A4907C;
  padding: 14px 18px;
}
.ds__course__detail__content__title {
  position: relative;
  color: #A4907C;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.ds__course__detail__content__title ::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: #A4907C;
  opacity: 0.6;
}
.ds__course__detail__content__txt li {
  display: block;
  position: relative;
  padding-left: 1.5em;
}
.ds__course__detail__content__txt li span {
  position: absolute;
  top: 0;
  left: 0;
}
.ds__course__detail__content__txt a {
  text-decoration: underline;
}
.ds__course__detail__content__txt a:hover {
  opacity: 0.6;
}
.ds__course__detail__tax {
  margin: 52px 0 12px 0;
  padding: 12px 24px;
  border: 2px solid #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax {
    padding: 6px 4px;
  }
}
.ds__course__detail__tax__title {
  text-align: center;
  font-size: 1.4rem;
  color: #A4907C;
}
.ds__course__detail__tax__price {
  margin-top: 16px;
  color: #A4907C;
}
.ds__course__detail__tax__price dl {
  padding: 16px 12px;
  border-bottom: 1px dotted #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dl {
    margin-bottom: 12px;
    border-bottom: none;
  }
}
.ds__course__detail__tax__price dl:first-child {
  border-top: 1px dotted #A4907C;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dl:first-child {
    border-top: none;
  }
}
.ds__course__detail__tax__price dt {
  width: 240px;
  font-weight: bold;
  font-size: 1.2rem;
  float: left;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax__price dt {
    font-size: 1rem;
    background-color: #A4907C;
    color: #fff;
    padding: 4px 10px;
    margin: 0 -10px 6px;
    width: auto;
    float: none;
  }
}
.ds__course__detail__tax dd {
  margin-left: 240px;
  line-height: 2rem;
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 768px) {
  .ds__course__detail__tax dd {
    margin-left: 0;
  }
}

.ds__course__common {
  border: 1px solid #A4907C;
  padding: 44px 52px;
}
@media screen and (max-width: 1200px) {
  .ds__course__common {
    margin: 0 24px;
  }
}
@media screen and (max-width: 768px) {
  .ds__course__common {
    padding: 22px 12px;
    margin: 0 8px;
  }
}
.ds__course__common__title {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.6rem;
  color: #A4907C;
  margin-bottom: 24px;
}
.ds__course__common__title::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: #A4907C;
}
.ds__course__common__txt li {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .ds__course__common__txt li {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
.ds__course__common__txt li span {
  position: absolute;
  top: 0;
  left: 0;
}
.ds__course__common__txt__anno {
  font-size: 0.8rem !important;
  margin-bottom: 0.6rem !important;
  letter-spacing: 0.2rem;
  opacity: 0.6;
}

.ds__page__title {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  padding: 12px 4px;
  border-bottom: 3px solid #92817A;
}
.ds__page__time {
  font-size: 0.8rem;
  color: #030303;
  opacity: 0.5;
}
.ds__page__img {
  width: 50%;
  margin: 32px auto 44px auto;
}
@media screen and (max-width: 550px) {
  .ds__page__img {
    width: 70%;
  }
}

.ds__option__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ds__option__box {
  width: 48%;
  box-shadow: 2px 4px 12px rgba(74, 74, 74, 0.4);
  padding: 24px 20px;
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  .ds__option__box {
    width: 100%;
  }
}
.ds__option__box:nth-child(2n+1) {
  margin-right: 32px;
}
@media screen and (max-width: 768px) {
  .ds__option__box:nth-child(2n+1) {
    margin-right: 0;
  }
}
.ds__option__box__title {
  color: #92817A;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 1rem;
}
@media screen and (max-width: 550px) {
  .ds__option__box__title {
    font-size: 0.8rem;
  }
}
.ds__option__box__st {
  min-height: 80px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 24px;
}
@media screen and (max-width: 550px) {
  .ds__option__box__st {
    min-height: 30px;
    font-size: 1.2rem;
  }
}
.ds__option__box__txt {
  min-height: 120px;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  line-height: 1.8rem;
  background: rgba(170, 151, 143, 0.1);
  padding: 4px 10px;
}
@media screen and (max-width: 550px) {
  .ds__option__box__txt {
    font-size: 0.6rem;
  }
}