/*--------------------------------
基本設定
---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

$deep_green: #6D8470;
$normal_green: #7D9B81;
$light_green: #9EB384;
$deep_brown: #92817A;
$normal_brown: #957365;
$light_brown: #A4907C;
$black: #333;
$white: #fff;

/*--------------------------------
コースページ
---------------------------------*/
// TOP
.ds__course__top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 280px;
    background: url('../img/ds_about01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    @media screen and (max-width: 500px) {
        height: 180px;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.8;
    }

    &__title {
        position: absolute;
        z-index: 3;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        font-size: 3rem;
        font-weight: bold;
        color: $normal_brown;
        line-height: 1.8rem;

        @media screen and (max-width: 500px) {
            top: 70%;
            font-size: 2.2rem;;
            line-height: 1.2rem;
        }

        &--sub {
            font-size: 0.8rem;
            font-weight: normal;

            @media screen and (max-width: 500px) {
                font-size: 0.6rem;
                ;
            }
        }

    }
}

// 記事全体
.ds__course__article {
    background: rgb(125, 155, 129, 0.4)
}

.ds__course__section {
    padding: 128px 0 80px 0;

    &._pt-0{
        padding-top: 0;
    }

    &._pb-128{
        padding-bottom: 200px;
    }

}

.ds__page__section {
    padding: 64px 0 80px 0;

    @media screen and (max-width: 550px) {
        padding: 16px 0 20px 0;
    }
}

// コース詳細
.ds__course__detail {
    background: $white;
    padding: 44px 40px;
    margin-bottom: 64px;

    @media screen and (max-width: 768px) {
        padding: 44px 8px;
        margin: 0 8px 32px;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & img {
            width: 50%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    &__text {
        width: 43%;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 32px;
        }
    }

    &__title {
        margin-bottom: 32px;

        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
        }

        & span {
            background: $light_brown;
            padding: 4px 16px;
            color: $white;
            font-size: 1.2rem;
            letter-spacing: 0.12rem;
        }
    }

    &__cc {
        margin-bottom: 36px;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.2rem;

        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
            margin-bottom: 16px;
        }
    }

    &__txt {
        font-size: 0.8rem;
        margin-bottom: 20px;
        line-height: 2rem;

        @media screen and (max-width: 500px) {
            margin-bottom: 44px;
        }
    }

    &__content {
        border: 1px solid $light_brown;
        padding: 14px 18px;

        &__title {
            position: relative;
            color: $light_brown;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 12px;

            ::after {
                position: absolute;
                content: "";
                width: 86px;
                height: 1px;
                bottom: -2px;
                left: 0;
                background: $light_brown;
                opacity: 0.6;
            }

        }

        &__txt {
            & li {
                display: block;
                position: relative;
                padding-left: 1.5em;

                & span {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            & a {
                text-decoration: underline;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__tax {
        margin: 52px 0 12px 0;
        padding: 12px 24px;
        border: 2px solid $light_brown;

        @media screen and (max-width: 768px) {
            padding: 6px 4px;
        }

        &__title {
            text-align: center;
            font-size: 1.4rem;
            color: $light_brown;
        }

        &__price {
            margin-top: 16px;
            color: $light_brown;

            & dl {
                padding: 16px 12px;
                border-bottom:1px dotted $light_brown;

                @media screen and (max-width: 768px) {
                    margin-bottom: 12px;
                    border-bottom: none;
                }
            }

            & dl:first-child {
                border-top:1px dotted $light_brown;

                @media screen and (max-width: 768px) {
                    border-top: none;
                }
            }

            & dt {
                width: 240px;
                font-weight: bold;
                font-size: 1.2rem;
                float: left;

                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                    background-color: $light_brown;
                    color: $white;
                    padding: 4px 10px;
                    margin: 0 -10px 6px;
                    width: auto;
                    float: none;
                }
            }
        }

        & dd {
            margin-left: 240px;
            line-height: 2rem;
            letter-spacing: 0.3rem;

            @media screen and (max-width: 768px) {
                margin-left: 0;
            }
        }
    }
}

// 共通内容
.ds__course__common{
    border:1px solid $light_brown;
    padding: 44px 52px;
    @media screen and (max-width: 768px) {
        padding: 22px  12px;
        margin:0 8px ;
    }
    &__title{
        position: relative;
        font-size: 1.4rem;
        letter-spacing: 0.6rem;
        color: $light_brown;
        margin-bottom: 24px;
        &::after {
            position: absolute;
            content: "";
            width: 120px;
            height: 1px;
            bottom: -2px;
            left: 0;
            background: $light_brown;
        }
    }
    &__txt {
        & li {
            display: block;
            position: relative;
            padding-left: 1.5em;
            margin-bottom: 1rem;
            font-size: 1.2rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                letter-spacing: 0.2rem;
            }

            & span {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__anno{
            font-size: 0.8rem !important;
            margin-bottom: 0.6rem !important;
            letter-spacing: 0.2rem;
            opacity: 0.6;
        }
    }
}


// 記事ページ
.ds__page{
    &__title{
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        padding:12px 4px ;
        border-bottom:3px solid $deep_brown;
    }

    &__time{
        font-size: 0.8rem;
        color: #030303;
        opacity: 0.5;
    }

    &__img{
        width: 50%;
        margin:32px auto 44px auto;

        @media screen and (max-width: 550px) {
            width: 70%;
        }
    }
}
    